@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;600&display=swap');

.sidebar {
    background-color: rgba(255, 208, 128, 0.692);
    border: solid 1px rgb(255, 208, 128);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    border-radius: 35px;
    margin: auto;
    z-index: 10000;
}

.minibutton {
    height: 45px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    letter-spacing: 1px;
    transition: all .5s ease;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #ffbe4aff;
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
    margin: auto;
    display: block;
    font-size: 20px;
}

.item {
    background-color: rgb(227, 171, 74);
    border-radius: 20px;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    opacity: 1;
    cursor: pointer;
    transition: 0.5s ease all;
}

.item:hover {
    background-color: rgb(209, 143, 30);
    transform: scale(1.02)
}

.itemEvents {
    border-radius: 20px;
    color: white;
    padding: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    opacity: 1;
    cursor: pointer;
    transition: 0.5s ease all;
}

.itemEvents p {
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemEvents:hover {
    transform: scale(1.02)
}

.itemEventsMore {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    height: 130px;
    width: 600px;
    border-radius: 25px;
    padding: 15px;
    display: inline-block;
    transition: all .5s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.itemEventsMore:hover {
    padding: 20px;
}

@keyframes pulse {
    0% {
        background-color: #fbac29ff;
    }

    50% {
        background-color: rgb(212, 144, 34);
    }

    100% {
        background-color: #fbac29ff;
    }
}

@keyframes pulseRegistration {
    0% {
        background-color: rgba(255, 255, 0, 0.447);
    }

    50% {
        background-color: rgba(219, 219, 0, 0.447);
    }

    100% {
        background-color: rgba(255, 255, 0, 0.447);
    }
}

@keyframes pulseLive {
    0% {
        background-color: rgb(255, 0, 0);
    }

    50% {
        background-color: rgba(146, 0, 0, 0.185);
    }

    100% {
        background-color: rgb(255, 0, 0);
    }
}

@keyframes pulseLive2 {
    0% {
        background-color: #ff00008a;
    }

    50% {
        background-color: #ca00008a;
    }

    100% {
        background-color: #ff00008a;
    }
}

.errorCard {
    font-family: 'Outfit', sans-serif;
    color: white;
    background-color: #ef3600b9;
    width: 300px;
    padding: 20px;
    min-height: 100px;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    position: absolute;
    display: none;
    z-index: 100000;
}

.header {
    font-family: 'Outfit', sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

.subheader {
    font-family: 'Outfit', sans-serif;
    color: rgba(255, 255, 255, 0.719);
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

.button {
    height: 45px;
    height: 200px;
    width: 500px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    letter-spacing: 1px;
    transition: all .5s ease;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #ffbe4aff;
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 20px;
}

.card {
    background-color: rgba(255, 208, 128, 0.692);
    border: dashed 1px rgb(214, 164, 78);
    backdrop-filter: blur(10px);
    width: 500px;
    height: 130px;
    display: inline-block;
    border-radius: 35px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.circleButton {
    background-color: rgba(255, 208, 128, 0.692);
    border: solid 1px rgb(255, 208, 128);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: auto;
    z-index: 10000;
}

.zigZag {
    position: relative;
    padding-left: 32px;
    overflow: hidden;
}

.zigZag:before {
    background: linear-gradient(135deg, var(--lighterColor) 16px, transparent 0), linear-gradient(45deg, var(--lighterColor) 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-y;
    background-size: 32px 48px;
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 100%;
}

.sidebarContainer {
    padding: 15px;
    width: 100%;
}

.screensContainer {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 15px;
}

.sidebarItem {
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    background-color: #e3ab4a;
    border: none;
    color: white;
    height: 70px;
    width: 100%;
    border-radius: 25px;
    display: block;
    transition: all .5s ease;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
}

.font {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.hover {
    transform: scale(1);
    transition: all 0.5s ease;
    cursor: pointer;
}

.hover:hover,
.managebutton:hover {
    transform: scale(1.03);
}


.blurredCircle {
    filter: blur(30px);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #ce8400ff;
}

.doublegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.viewnavbar {
    display: grid;
    grid-template-columns: auto 230px;
    grid-gap: 15px;
}

.innerSidebar {
    padding: 15px;
}

.viewbentobox {
    border-radius: 25px;
    width: 250px;
    height: 100px;
    background-color: #e3ab4a;
    position: relative;
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    color: #ffe5b9;
    transition: ease 0.5s all;
}

.viewlist {
    width: 80%;
    margin: auto;
    transition: all 0.5s ease;
}

.viewbentobox p {
    margin: 0px;
    text-align: center;
}

.eventsTodayBento {
    float: inline-start;
    width: 500px;
    height: 98px;
    margin-right: 10px;
    padding: 20px;
    margin-bottom: 10px;
    border: dashed 1px rgb(214, 164, 78);
    background-color: rgba(255, 208, 128, 0.692);
    border-radius: 25px;
    position: relative;
    font-size: 30px;
    font-family: 'Outfit', sans-serif;
    color: rgba(0, 0, 0, 0.300);
}

.eventsTodayBentoFilled {
    float: inline-start;
    width: 500px;
    height: 120px;
    margin-right: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: rgba(255, 208, 128, 0.692);
    border-radius: 25px;
    position: relative;
    display: table;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    color: rgba(0, 0, 0, 0.300);
}

.bentoboxCont {
    margin: 20px;
}

.managebutton {
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    letter-spacing: 1px;
    transition: all .5s ease;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #ffbe4aff;
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 5px;
    display: block;
    font-size: 20px;
}

.input {
    width: 100%;
    /* width: 95%; */
    height: 45px;
    padding: 12px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.267);
    border-color: #5353537d;
    border-style: none;
    margin-bottom: 10px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.inputScreen {
    width: 100%;
    /* width: 95%; */
    height: 45px;
    padding: 12px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 208, 128, 0.692);
    border-color: #5353537d;
    border-style: none;
    margin-bottom: 10px;
    margin-top: 5px;
    color: rgb(227, 171, 74);
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.inputScreen::placeholder {
    color: rgb(227, 171, 74);
}

.slickttt {
    width: 100%;
    /* width: 95%; */
    height: 50px;
    padding: 12px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 40px;
    transition: all 0.5s ease;
}

.slickttt:hover,
.slickttt:focus {
    border: 1px dashed rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.11);
}

.textarea {
    width: 100%;
    /* width: 95%; */
    min-height: 45px;
    padding: 12px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.267);
    border-color: #5353537d;
    border-style: none;
    margin-bottom: 10px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.textarea::placeholder {
    color: rgba(255, 255, 255, 0.719);
}

.biginput {
    background-color: rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(10px);
    width: 300px;
    height: 80px;
    border-radius: 25px;
    margin: auto;
    border: none;
    display: block;
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.biginput::placeholder {
    color: rgba(255, 255, 255, 0.719);
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.719);
}

.iconCircle {
    font-size: 50px;
    margin: auto;
    position: relative;
    z-index: 5;
}

.sidebarItem:hover {
    transform: scale(1.05);
    background-color: rgb(209, 156, 64);
}

.closebutton {
    width: 80px;
    height: 80px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(0, 0, 0, 0.281);
    display: block;
    color: white;
    margin: auto;
    margin-right: 0px;
    margin-bottom: 10px;
}

.sidebarbutton {
    width: 60px;
    height: 60px;
    border-radius: 25px;
    background-color: rgba(255, 208, 128, 0.692);
    border: 1px solid rgb(227, 171, 74);
    display: block;
    color: white;
    margin: auto;
}

.divider {
    border-top: 0.5px solid rgb(227, 171, 74);
    border-bottom: 0.5px solid rgb(227, 171, 74);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.fullycenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    display: block;
    height: 30px;
    width: 30px;
    border: 4px rgba(247, 183, 73, 0.418)solid;
    border-top: 4px rgb(247, 183, 73) solid;
    border-radius: 50%;
    margin-top: 12px;
    opacity: 0;
    -webkit-animation: spin2 0.7s infinite linear;
    animation: spin2 0.7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.sidebarContent {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    overflow: visible;
    grid-template-columns: 300px auto;
    grid-gap: 25px;
    transition: 0.5s ease all;
}

.bentobox {
    border-radius: 25px;
    width: 200px;
    height: 200px;
    background-color: #e3ab4a;
    position: relative;
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #ffe5b9;
    transition: ease 0.5s all;
}

.bentoboxShorter {
    border-radius: 25px;
    width: 250px;
    height: 100px;
    background-color: #e3ab4a;
    position: relative;
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    color: #ffe5b9;
    transition: ease 0.5s all;
}

.bentoboxLive {
    border-radius: 25px;
    width: 280px;
    height: auto;
    float: inline-start;
    background-color: #ff00008a;
    position: relative;
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    color: #ffe5b9;
    overflow: hidden;
    transition: ease 0.5s all;
    animation: pulseLive2 3s infinite linear;
}

.bbldivider {
    border-top: 0.5px solid rgb(255 255 255 / 34%);
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid rgb(255 255 255 / 34%)
}

.minilistitem {
    background-color: #d69a31;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    border: none;
    color: white;
    margin-bottom: 15px;
    border-radius: 15px;
}

.previewbento {
    height: 250px;
    width: 50%;
    border-radius: 25px;
    padding: 15px;
    position: relative;
    background-color: #e3ab4a;
}

.previewbento::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    /* Adjust the height as desired */
    z-index: 1;
    border-radius: 35px;
    background: linear-gradient(to top, #e3ab4a, transparent 100%);
}

.screen {
    border-radius: 35px;
    border: 1px solid rgb(227, 171, 74);
    height: 100%;
    width: 100%;
    margin-top: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.screenheading {
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    color: rgb(227, 171, 74);
    margin: 0px;
}

.screensubheading {
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    color: rgb(227, 171, 74);
    margin: 0px;
}

.eventsoverlay {
    height: 100%;
    width: 60%;
    display: none;
    overflow-y: auto;
    overflow-x: visible;
    padding: 20%;
    position: fixed;
    top: 50%;
    left: calc(300px + 50%);
    filter: blur(10px);
    opacity: 0;
    zoom: 1.2;
    transform: translateX(-50%) translateY(-50%);
}

.makeDifferenceCont {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    width: 70%;
    transition: 0.5s ease all;
}

.makeDifferenceBtn {
    margin: auto;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
    width: 48%;
}

.zigZagView {
    width: var(--maxWidth);
    left: 150%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.overlayGridWrapper {
    display: none;
}

.overlayGrid {
    display: grid;
    grid-template-columns: auto 85%;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.viewbentoboxSub {
    font-size: 30px;
    font-weight: normal;
}

.sidebarButtonIcon {
    font-size: 30px;
    color: rgb(227, 171, 74);
}

.screenInner {
    padding: 20px;
}

.sidebarbuttonGrid {
    display: grid;
    grid-template-columns: 70px auto 50px;
    grid-gap: 25px;
}

@media(max-width: 1500px) {
    .viewbentobox {
        min-height: 50px;
        height: auto;
        min-width: 100px;
        width: auto;
        padding: 15px;
    }

    .viewbentobox p {
        display: inline-block;
        margin-right: 10px;
    }

    .eventsTodayBento {
        height: 48px;
    }

    .bentoboxCont {
        margin: 20px 0px;
    }

    .eventsTodayBentoFilled {
        height: 73px;
        width: 400px;
    }
}

@media(max-width: 1400px) {
    .eventsoverlay {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    .zigZag {
        padding-left: 0px;
    }

    .zigZag:before {
        background: rgb(206, 132, 0);
    }
    .itemEvents {
        font-size: 1.3rem;
    }
}

.closeZigZag {
    display: block;
    position: relative;
    opacity: 0;
}

.sbAcctInnerDiv {
    display: grid;
    grid-template-columns: auto 50px;
    padding: 10px;
    height: 50px;
}

@media (max-width: 800px) {
    .innerSidebar {
        padding: 10px;
    }

    .closeZigZag {
        display: none;
    }

    .overlayGrid {
        display: block;
    }

    .sidebarItem {
        margin-bottom: 10px;
    }

    .eventsTodayBento {
        min-height: 30px;
        padding: 10px;
        margin-bottom: 5px;
        font-size: 25px;
    }

    .eventsTodayBentoFilled {
        margin-bottom: 5px;
        width: 80%;
    }

    .screenInner {
        padding: 15px;
    }

    .divider {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .bentoboxLive {
        font-size: 30px;
        padding: 10px;
        margin-bottom: 5px;
        margin-right: 5px;
        border-radius: 20px;
    }

    .bbldivider {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .viewbentobox {
        font-size: 30px;
        min-height: 30px;
        padding: 10px 0px 10px 10px;
        margin-bottom: 5px;
        margin-right: 5px;
        border-radius: 20px;
    }

    .viewbentoboxSub {
        font-size: 25px;
    }

    .sidebarContainer {
        padding: 10px;
    }

    .screensContainer {
        padding: 10px;
    }

    .screenheading {
        font-size: 40px;
    }

    .viewnavbar {
        display: block;
    }

    .screensubheading {
        font-size: 35px;
    }

    .itemEvents p {
        font-size: 23px;
    }

    .header {
        font-size: 45px;
    }

    .sidebarItem {
        height: 60px;
    }

    .eventsoverlay {
        width: 90%;
        height: 90%;
        left: calc(271px + 50%);
    }

    .zigZagView {
        width: 95%;
        position: relative;
        top: 0;
        transform: translate(-50%, 0%);
    }

    .viewlist {
        width: 100%;
    }

    .makeDifferenceBtn {
        width: 100%;
    }

    .makeDifferenceCont {
        flex-direction: column;
        width: 100%;
    }

    .sidebarContent {
        grid-template-columns: 250px 100%;
    }

    .sidebarbutton {
        width: 50px;
        height: 50px;
        border-radius: 20px;
        margin: 0;
    }

    .sidebarButtonIcon {
        font-size: 25px;
    }

    .sidebarbuttonGrid {
        grid-template-columns: 60px auto 50px;
        grid-gap: 0px;
    }
}

@media (max-width: 630px) {
    .eventsTodayBento {
        width: 87%;
    }
}